import PropTypes from 'prop-types'
import React, { memo } from 'react'

const <%= cpnName %> = memo((props) => {
  return (
    <div><%= cpnName %></div>
  )
})

<%= cpnName %>.propTypes = {}

export default <%= cpnName %>