import PropTypes from 'prop-types'
import React, { memo } from 'react'

const <%= moduleName %> = memo((props) => {
  return (
    <div><%= moduleName %></div>
  )
})

<%= moduleName %>.propTypes = {}

export default <%= moduleName %>